<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Video Stream</title>
      <style>
        .button {
          background-color: #33cc33;
          border: none;
          border-radius: 4px;
          color: white;
          padding: 15px 2%;
          text-align: center;
          text-decoration: none;
          height:750px; 
          width: 98%;
          display: inline-block;
          font-size: 180px; 
          margin: 4px 0px 4px 1%;
          cursor: pointer;
        }
      </style>
  </head>
  <body style="margin-top: 50%" >
  <a href="/face_recog" ><input type="button" class='button' value='START'/></a>
  </body>
</html>